body {
    margin: 0;
    font-family: Arial;
}

h1 {
    background-color: blue;
    color: aliceblue;
    display: block;
    text-align: center;

}

a {
    display: inline-block;
    color: black;
    background-color: salmon;
    font-family: sans-serif;
    text-decoration: none !important;
}

a:hover {
    color: white;
    background-color: darkviolet;
}

.container {
    display: block;
    width: 100%;
    height: auto;
}

#content {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 100px;
}

#header {
    display: block;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    text-align: center;
}